* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
}

body {
    background: #270000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 20px;
}

main {
    width: 100%;
    max-width: 700px;
}

.passo {
    display: none;
    text-align: center;
    animation: fade 0.4s ease;
}

.passo.ativo {
    display: block;
}

@keyframes fade {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5em;
}

button {
    display: block;
    margin: 10px auto;
    padding: 12px 25px;
    border: none;
    background: #680101;
    color: #fff;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #5f0d0d;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}
img {
max-width: 90%;
}