body {
    background-color: #0F0F0F; /* Preto suave crepuscular */
    color: #E8E8E8;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

    /* leve névoa */
    background-image: radial-gradient(circle at center, #1a1a1a 0%, #0f0f0f 70%);
}

button {
    background-color: #2A2F33; /* Cinza frio Forks */
    color: #ffffff;
    font-family: "Bai Jamjuree", sans-serif;
    border: 1px solid #5A646B;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

/* efeito vampiresco sutil */
button:hover {
    background-color: #3B4349;
    border-color: #7C8A92;
    transform: scale(1.06);
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
    padding: 25px;

    /* caixa com vibe crepúsculo */
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 14px;
    box-shadow: 0 0 12px rgba(255,255,255,0.06);
}

img {
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(255,255,255,0.10);
}
